<h2>vaisseaux star wars! au {{dateJour |date:'dd/MM/yyyy'}}</h2>
 <!-- bien mettre MM car mm correspond aux minutes -->

<!-- affichage de l'objet planete à l'ecran avec le |json -->
<h5>{{this.mesVaisseaux|json}}</h5>

<!-- recup tableaux bootstrap -->
<!-- <table>
  <thead>

  </thead>
  <tbody>
  <tr *ngfor="let vaisseau of this.vaissseau">
    <td>{{vaisseau.nom}}</td>
    <td>{{vaisseau.boolean?'oui':'non'</td>  // ternaire
  </tr>
</tbody>
</table> -->

<a routerLink="/vaisseaux/add">Ajouter un vaisseaux</a>

<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Nom</th>
      <th scope="col">Model</th>
      <th scope="col">LightSpeed</th>
      <th scope="col">Passager</th>
      <th scope="col">Detail</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let vaisseau1 of this.mesVaisseaux">
      <td>{{vaisseau1.id}}</td>
      <td>{{vaisseau1.nom|uppercase}}</td>
      <td>{{vaisseau1.model}}</td>
      <td>{{ vaisseau1.lightSpeed?'oui':'non' }}</td>
      <td>{{vaisseau1.nbPassager}}</td>
      <td><a [routerLink]="['/vaisseaux', vaisseau1.id]">voir</a></td>
       <!-- lien vers page html avec parametres -->
       <!-- procedure supprimerVaisseau() dans le .ts -->
       <td> <a style="text-decoration:underline;color:red" (click)="supprimerVaisseau(vaisseau1)">supprimer le vaisseau {{vaisseau1.nom}}</a></td>
       <td><a [routerLink]="['/vaisseaux/maj', vaisseau1.id]">editer la planete</a></td>
    </tr>

  </tbody>
</table>


