<h2>planets star wars</h2>

<a routerLink="/planets/add">Ajouter une planete</a>
<!-- <img src=../../..assets/images/ > -->
<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Nom</th>
      <th scope="col">Habitants</th>
      <th scope="col">allegiance</th>
      <th scope="col">nb kms terre</th>
      <th scope="col">Detail</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let planete of this.mesPlanettes">
      <td>{{planete.id}}</td>
      <td>{{planete.nom}}</td>
      <td>{{planete.nbHabitant}}</td>
      <td>{{planete.allegiance}}</td>
      <td>{{planete.nbKmTerre}}</td>
      <td><a [routerLink]="['/planets', planete.id]">voir</a></td>
    </tr>

  </tbody>
</table>
