label{
  color: white;

}

// form,label{
//   text-align: center;
// }

// input{
//   // height: 50px;
//   width: 20rem;

// }

#centrer {
  margin-left : auto;
  margin-right : auto;
  width : 20rem;
  }

